{% from "macro.html" import wrapped_input %}

<form action="" method="post">
    <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
    <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Añadir Ficha</h5>
                    <a href="javascript:window.location.reload()" class="close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    {% include 'deudor/add.html' %}
                    {% include 'deudor/co_add.html' %}
                    {% include 'deudor/factura_add.html' %}
                </div>
                <div class="modal-footer">
                    <a href="javascript:window.location.reload()" class="btn btn-danger">Cerrar</a>
                    <button type="submit" class="btn btn-success">
                        Guardar
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>