{% extends "base_interno.html" %}
{% block title %} Acreedores {% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-3">
            <h2>CARTERA</h2>
        </div>
        <div class="col-12 col-lg-6 offset-lg-6 col-md-12 col-sm-12 mb-2 ">
            <form action="" method="get">
                <label for="">
                    Buscar Por Codigo de la Cartera o por Documento o Razón Social/Nombre:
                </label>
                <div class="input-group">
                    <input type="search" name="q" class="form-control"
                        placeholder="Buscar por Documento o Razón Social/Nombre">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">
                            BUSCAR
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="button" id="btn_modal" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#addnewacreedor">
                            AGREGAR
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% if msg %}
        <div class="col-12 ">
            <div class="alert alert-danger text-center">
                {{ msg }}
            </div>
        </div>
        {% endif %}
        <div class="col-12 text-uppercase">
            <div id="accordion">
                {% for data in carteras %}
                <div class="card">
                    <div class="card-header" id="headingOne"
                        style="display: flex; justify-content: space-between;align-items: center;">
                        <div class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#{{ data.cartera.token }}"
                                aria-expanded="true" aria-controls="{{ data.cartera.token }}">
                                {{ loop.index }}.) CARTERA: {{ data.cartera.token }} <br> FECHA: {{ data.cartera.fecha|date("d-m-Y") }}
                            </button>

                        </div>
                        <div class="mb-0">
                            <a href="#" class="btn btn-info btn-sm text-white" title="Ver">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="btn btn-warning btn-sm text-white" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-sm text-white" title="Eliminar">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>

                    <div id="{{ data.cartera.token }}" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="card-body">
                            <div class="mt-2">
                                <h4>ACREEDOR</h4>
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>Tipo Documento</th>
                                            <th>Documento</th>
                                            <th>Razón Social/Nombre</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{ data.acreedor.tipo_documento }}
                                                {% if data.acreedor.tipo_documento == 'nit' %}
                                                <span class="badge badge-secondary">Juridica</span>
                                                {% else %}
                                                <span class="badge badge-secondary">Natural</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ data.acreedor.documento }}</td>
                                            <td>{{ data.acreedor.razon_social }}</td>
                                            <td>
                                                <a href="#" class="btn btn-info btn-sm text-white" title="Ver">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="#" class="btn btn-warning btn-sm text-white" title="Editar">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-3">
                                <h4>Documento De Respaldo</h4>
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descargar</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if data.docs %}
                                        {% for doc in data.docs%}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ doc.nombre }}</td>
                                            <td>
                                                <a href="{{ doc.ruta }}" target="_blank" class="btn btn-dark">
                                                    <i class="fas fa-download"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-danger btn-sm text-white" title="Eliminar">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="4">
                                                <h2 class="alert alert-dark text-center">
                                                    No Hay Documento De Respaldo Registrado
                                                </h2>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h2 class="alert alert-dark text-center">
                    No Hay Carteras Registradas
                    <p>¿Desea Añadir Una Cartera?</p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addnewacreedor">
                        AGREGAR
                        <i class="fas fa-plus"></i>
                    </button>
                </h2>
                {% endfor %}
            </div>
        </div>

        <div class="mt-4 col-12">
            {% include 'partial/paginate.html' %}
        </div>
    </div>
</div>
</div>
{% include 'cartera/new.html' %}

{% endblock %}

{% block js %}
{% if flash.getMessage('error') %}
<script>
    $('#btn_modal').click()
</script>
{% endif %}
<script>
    var base_url = "{{ base_url() }}"
</script>

<script src="{{base_url()}}/{{ asset('static/js/jquery.smartWizard.min.js') }}"></script>
<script src="{{base_url()}}/{{ asset('static/js/wizard.js') }}"></script>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{base_url()}}/{{ asset('static/css/smart_wizard.min.css') }}">
<link rel="stylesheet" href="{{base_url()}}/{{ asset('static/css/smart_wizard_theme_arrows.min.css') }}">

{% endblock %}