{% extends "base_interno.html" %}
{% block title %} Crear Cartera {% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>REGISTRO DE CARTERA</h2>
        </div>
        <div class="col-12 mt-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="ACREEDOR">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">BUSCAR</button>
                    <button class="btn btn-outline-success" type="button">AGREGAR</button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 text-uppercase">
            <form action="" method="post">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="alert alert-primary text-center">
                            <h5 class="card-title lead m-0">DATOS DEL DEUDOR</h5>
                        </div>
                        <div class="container m-4">
                            <div class="row mr-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_acreedor">ACREEDOR</label>
                                        <input type="text" class="form-control" id="id_acreedor" name="acreedor" placeholder="ACREEDOR" autofocus autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="id_tipo_documento_deudor">Tipo de Documento</label>
                                        <select id="id_tipo_documento_deudor" class="form-control" name="tipo_documento_deudor">
                                            <option selected>Selecciona...</option>
                                            <option value="cc">CC</option>
                                            <option value="ce">CE</option>
                                            <option value="nit">NIT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="inputCity">Nro. Documento</label>
                                        <input type="text" class="form-control" id="" name="documento_deudor">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}