{% extends "base_interno.html" %}
{% block title %} Menú Principal {% endblock%}

{% block content %}
<div class="container mt-5">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">GESTION</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">NOTIFICACIONES</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">RECORDATORIOS</a>
    </div>
  </nav>
  <div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        {% include('gestor/listgestion.html') %}
      </div>
      <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        {% include('gestor/gestion.html') %}
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        {% include('gestor/recordatorios.html') %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  function pago(obj) {
    var fila = `
    <div class="row" style="justify-content: space-between; align-items: center; display: flex;margin: 20px 5px;">
      <div>
        <input type="text" required class="form-control form-control-sm " name="observacion[]" maxlength=""
          placeholder="Gestion">
      </div>
      <div>
        <input type="text" required class="form-control form-control-sm " name="monto[]" placeholder="MONTO"
          maxlength="">
      </div>
      <div>
        <input type="date" required class="form-control form-control-sm " name="fecha_pago[]" max="<?php $hoy=date("Y-m-d"); echo $hoy;?>
      </div>
      <div>
        <select name="estatus[]" required class="form-control form-control-sm" required>
          <option value=""></option>
          <option value="RENUENTE">RENUENTE</option>
          <option value="EN ACUERDO">EN ACUERDO</option>
          <option value="PENDIENTE">PENDIENTE</option>
        </select>
      </div>
      <div>
        <button class="eliminar btn btn-danger btn-sm">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    `
    $('#pagos').append(fila);

    // Evento que selecciona la fila y la elimina
    $(document).on("click", ".eliminar", function () {
      var parent = $(this).parents().get(1);
      $(parent).remove();
    });
  }

  function modalShow(id) {
    if (id) {
      base_url = '{{ base_url() }}'
      url = `${base_url}/gestion/ficha?id=${id}`
      $.getJSON(url)
        .then(function (data) {
          capital = parseFloat(data.ficha.capital)

          document.getElementById('id_name_input_hidden_id').value = id
          document.getElementById('id_total').innerText = parseFloat(data.ficha.total).toFixed(2)
          document.getElementById('set_deudor').innerHTML =
            `<div>
              <table class="table table-bordered table-sm text-center">
                <thead>
                  <tr>
                    <th>DOCUMENTO</th>
                    <th>NOMBRE Y APELLIDO</th>
                    <th>TELEFONO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${data.deudor.tipodocumento.toUpperCase()}-${data.deudor.documento}</td>
                    <td>${data.deudor.nombre.toUpperCase()} ${data.deudor.apellido.toUpperCase()}</td>
                    <td>${data.deudor.telefono}</td>
                  </tr>
                </tbody>
              </table>
            </div>`
          document.getElementById('set_total').innerHTML =
            `<div>
              <table class="table table-bordered table-sm text-center">
                <thead>
                  <tr>
                    <th>CAPITAL</th>
                    <th>INTERES</th>
                    <th>HONORARIOS</th>
                    <th>GASTOS</th>
                    <th>DESCUENTOS</th>
                    <th>SANCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${data.ficha.capital}</td>
                    <td>${(capital * parseFloat(data.ficha.interes) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.honorarios) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.gastos) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.descuento) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.sancion) / 100).toFixed(2)}</td>
                  </tr>
                </tbody>
              </table>
            </div>`
        })
    }
  }

  function modalShow1(id) {
    if (id) {
      base_url = '{{ base_url() }}'
      url = `${base_url}/gestion/detail?id=${id}`
      $.getJSON(url)
        .then(function (data) {
          document.getElementById('input_acuerdo').value = ''
          document.getElementById('input_deudor').value = ''
          document.getElementById('input_fecha').value = ''
          document.getElementById('input_total').value = ''
          document.getElementById('input_acreedor').value = ''
          if (data.gestion.length != 0) {
            document.getElementById('input_acuerdo').value = data.gestion[0].acuerdo
            document.getElementById('input_deudor').value = `${data.gestionDetail.nombre} ${data.gestionDetail.apellido}`
            document.getElementById('input_fecha').value = data.gestionDetail.fecha
            document.getElementById('input_total').value = data.gestionDetail.total
            document.getElementById('input_acreedor').value = data.gestionDetail.razon_social
          }
          document.getElementById('infoPagos').innerHTML = `
            <table class="table table-bordered table-sm text-center">
              <thead>
                <tr>
                  <th>GESTIÓN</th>
                  <th>MONTO</th>
                  <th>FECHA</th>
                  <th>ESTATUS</th>
                  <th>OPCIONES</th>
                </tr>
              </thead>
              <tbody>
                ${data.gestion.length != 0 ?
              data.gestion.map(function (gestion, index) {
                return `
                  <tr id="id_tr_${index}">
                    <td>${gestion.gestion}</td>
                    <td>${gestion.monto}</td>
                    <td>${gestion.fecha}</td>
                    <td>${gestion.estado}</td>
                    <td>
                      <a onclick="togleInput(${gestion.id}, ${index})" class="btn btn-warning btn-sm text-white"
                          title="Editar">
                          <i class="fas fa-edit"></i>
                      </a>
                    </td>
                  </tr>
                  `
              }) :
              `
                  <tr>
                    <td>No</td>
                    <td>Hay</td>
                    <td colspan="5">Acuerdos</td>
                  </tr>
                  `
            }
              </tbody>
            </table>     
          `
        })
    }
  }

  function togleInput(id, index) {
    var tr = document.getElementById(`id_tr_${index}`)
    var children = tr.children
    var td1 = children[0].textContent
    var td2 = children[1].textContent
    var td3 = children[2].textContent
    var td4 = children[3].textContent

    children[0].innerHTML = `<input type="text" id="id_input_${index}_gestion" class="form-control form-control-sm"" value="${td1}">`
    children[1].innerHTML = `<input type="text" id="id_input_${index}_monto" class="form-control form-control-sm"" value="${td2}">`
    children[2].innerHTML = `<input type="date" id="id_input_${index}_fecha" class="form-control form-control-sm"" value="${td3}">`
    children[3].innerHTML = `
        <select id="id_input_${index}_estatus" class="form-control form-control-sm" required>
          <option ${td4 == '' ? 'selected' : ''} value=""></option>
          <option ${td4 == 'RENUENTE' ? 'selected' : ''} value="RENUENTE">RENUENTE</option>
          <option ${td4 == 'EN ACUERDO' ? 'selected' : ''} value="EN ACUERDO">EN ACUERDO</option>
          <option ${td4 == 'PENDIENTE' ? 'selected' : ''} value="PENDIENTE">PENDIENTE</option>
        </select>
    `
    children[4].innerHTML = `
                <a onclick="update(${id}, ${index})" class="btn btn-success btn-sm text-white" title="Editar">
                    <i class="fas fa-save"></i>
                </a>
                <a onclick="cancel(${id}, ${index}, '${td1}', '${td2}', '${td3}', '${td4}')" class="btn btn-danger btn-sm text-white" title="Eliminar">
                  <i class="fas fa-stop"></i>
                </a>`
  }

  function cancel(id, index, td1, td2, td3, td4) {
    var children = document.getElementById(`id_tr_${index}`).children
    children[0].innerText = td1
    children[1].innerText = td2
    children[2].innerText = td3
    children[3].innerText = td4
    children[4].innerHTML = `<a onclick="togleInput(${id}, ${index})" class="btn btn-warning btn-sm text-white"
                          title="Editar">
                          <i class="fas fa-edit"></i>
                      </a>`
  }

  function update(id, index) {
    var gestion = document.getElementById(`id_input_${index}_gestion`).value
    var monto = document.getElementById(`id_input_${index}_monto`).value
    var fecha = document.getElementById(`id_input_${index}_fecha`).value
    var estatus = document.getElementById(`id_input_${index}_estatus`).value
    if (!gestion || !monto || !fecha || !estatus) {
      return alert("los datos requeridos")
    }
    var base_url = '{{ path_for("gestion_update") }}'
    console.log(base_url)
    $.ajax({
      url: base_url,
      type: 'PUT',
      dataType: "json",
      data: { 
        id: id,
        gestion: gestion,
        monto: monto,
        fecha: fecha,
        estatus: estatus
      },
      success: function (data) {
        if (!data.status){
          alert("Hubo un error al guardar")
        } else {
          alert("Informacion Actualizada")
        }
        return cancel(id, index, 
          data.data.gestion, data.data.monto, data.data.fecha, data.data.estatus)
      }
    });
  }
</script>

<!-- 
document.getElementById('infoRecordatorios').innerHTML = `
            <table class="table table-bordered table-sm text-center">
              <thead>
                <tr>
                  <th>RECORDATORIO</th>
                  <th>FECHA</th>
                </tr>
              </thead>
              <tbody>
                ${data.recordatorios.length != 0 ?
              data.recordatorios.map(function (recordatorio) {
                return `
                  <tr>
                    <td>${recordatorio.recordatorio}</td>
                    <td>${recordatorio.fecha}</td>
                  </tr>
                  `
              }) :
              `
                  <tr>
                    <td>No</td>
                    <td>Hay Recordatorio</td>
                  </tr>
                  `
            }
                
              </tbody>
            </table>     
          ` -->
{% endblock %}