{% extends "base_interno.html" %}
{% block title %} Menú Principal {% endblock%}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      {% include('gestor/tab.html') %}
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  function pago(obj) {
    var fila = `
    <div class="row" style="justify-content: space-between; align-items: center; display: flex;margin: 20px 5px;">
      <div>
        <input type="text" required class="form-control form-control-sm " name="observacion[]" maxlength=""
          placeholder="Observación">
      </div>
      <div>
        <input type="text" required class="form-control form-control-sm " name="monto[]" placeholder="MONTO"
          maxlength="">
      </div>
      <div>
        <input type="date" required class="form-control form-control-sm " name="fecha_pago[]" max="<?php $hoy=date("Y-m-d"); echo $hoy;?>
      </div>
      <div>
        <select name="estatus[]" required class="form-control form-control-sm" required>
          <option value=""></option>
          <option value="RENUENTE">RENUENTE</option>
          <option value="EN ACUERDO">EN ACUERDO</option>
          <option value="PENDIENTE">PENDIENTE</option>
        </select>
      </div>
      <div>
        <button class="eliminar btn btn-danger btn-sm">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    `
    $('#pagos').append(fila);

    // Evento que selecciona la fila y la elimina
    $(document).on("click", ".eliminar", function () {
      var parent = $(this).parents().get(1);
      $(parent).remove();
    });
  }

  function modalShow(id) {
    if (id) {
      base_url = '{{ base_url() }}'
      url = `${base_url}/gestion/ficha?id=${id}`
      $.getJSON(url)
        .then(function (data) {
          capital = parseFloat(data.ficha.capital)

          document.getElementById('id_name_input_hidden_id').value = id
          document.getElementById('id_total').innerText = parseFloat(data.ficha.total).toFixed(2)
          document.getElementById('set_deudor').innerHTML =
            `<div>
              <table class="table table-bordered table-sm text-center">
                <thead>
                  <tr>
                    <th>DOCUMENTO</th>
                    <th>NOMBRE Y APELLIDO</th>
                    <th>TELEFONO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${data.deudor.tipodocumento.toUpperCase()}-${data.deudor.documento}</td>
                    <td>${data.deudor.nombre.toUpperCase()} ${data.deudor.apellido.toUpperCase()}</td>
                    <td>${data.deudor.telefono}</td>
                  </tr>
                </tbody>
              </table>
            </div>`
          document.getElementById('set_total').innerHTML =
            `<div>
              <table class="table table-bordered table-sm text-center">
                <thead>
                  <tr>
                    <th>CAPITAL</th>
                    <th>INTERES</th>
                    <th>HONORARIOS</th>
                    <th>GASTOS</th>
                    <th>DESCUENTOS</th>
                    <th>SANCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${data.ficha.capital}</td>
                    <td>${(capital * parseFloat(data.ficha.interes) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.honorarios) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.gastos) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.descuento) / 100).toFixed(2)}</td>
                    <td>${(capital * parseFloat(data.ficha.sancion) / 100).toFixed(2)}</td>
                  </tr>
                </tbody>
              </table>
            </div>`
        })
    }
  }

  function modalShow1(id) {
    if(id){
      base_url = '{{ base_url() }}'
      url = `${base_url}/gestion/detail?id=${id}`
      $.getJSON(url)
        .then(function (data) {
          document.getElementById('input_acuerdo').value = ''
          if (data.gestion.length != 0){
            document.getElementById('input_acuerdo').value = data.gestion[0].acuerdo
          }
          document.getElementById('infoPagos').innerHTML = `
            <table class="table table-bordered table-sm text-center">
              <thead>
                <tr>
                  <th>OBSERVACIONES</th>
                  <th>MONTO</th>
                  <th>FECHA</th>
                  <th>ESTATUS</th>
                </tr>
              </thead>
              <tbody>
                ${data.gestion.length != 0 ? 
                  data.gestion.map(function(gestion){
                  return `
                  <tr>
                    <td>${gestion.gestion}</td>
                    <td>${gestion.monto}</td>
                    <td>${gestion.fecha}</td>
                    <td>${gestion.estado}</td>
                  </tr>
                  `
                }) : 
                  `
                  <tr>
                    <td>No</td>
                    <td>Hay</td>
                    <td colspan="2">Acuerdos</td>
                  </tr>
                  `
                }
                
              </tbody>
            </table>     
          `
          document.getElementById('infoRecordatorios').innerHTML = `
            <table class="table table-bordered table-sm text-center">
              <thead>
                <tr>
                  <th>RECORDATORIO</th>
                  <th>FECHA</th>
                </tr>
              </thead>
              <tbody>
                ${data.recordatorios.length != 0 ? 
                  data.recordatorios.map(function(recordatorio){
                  return `
                  <tr>
                    <td>${recordatorio.recordatorio}</td>
                    <td>${recordatorio.fecha}</td>
                  </tr>
                  `
                }) : 
                  `
                  <tr>
                    <td>No</td>
                    <td>Hay Recordatorio</td>
                  </tr>
                  `
                }
                
              </tbody>
            </table>     
          `
          console.log(data)
        })
    }
  }
</script>
{% endblock %}