<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IG Consultores | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{base_url()}}/{{ asset('static/css/bootstrap.min.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
    {% block css %}{% endblock %}
</head>

<body>
    {% include 'partial/navbar.html' %}
    {% block content %}{% endblock %}
    <script src="{{base_url()}}/{{ asset('static/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{base_url()}}/{{ asset('static/js/popper.min.js') }}"></script>
    <script src="{{base_url()}}/{{ asset('static/js/bootstrap.min.js') }}"></script>
    {% block js %}{% endblock %}
</body>

</html>