{% if paginate > 1 %}
<div style="align-items: center; display: flex; justify-content: center;">
    <ul class="pagination">
        <li class="{% if get.page == 1 %} disabled {% endif %}page-item">
            <a class="page-link" href="?page={{ get.page - 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in 1..paginate %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        <li class="{% if get.page == paginate %} disabled {% endif %} page-item">
            <a class="page-link" href="?page={{ get.page + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
{% endif %}